body {
    padding-top: 1em;
}

input#input_0 {
    border: 1px solid #9a9393;
    width: 15%;
    border-radius: 3px;
    text-indent: 8px;
    margin-left: -2px;

}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.md-button {
    padding: 0;
    margin: 0;
    line-height: 0px;
    min-height: 30px;
    min-width: 45px;
    text-align: center;
    text-transform: none;
    margin-left: .3em;
    background: -webkit-linear-gradient(top, #22a0ec, #2676a7);
    background: -ms-linear-gradient(top, #22a0ec, #2676a7);
    background: -moz-linear-gradient(top, #22a0ec, #2676a7);
    background: -o-linear-gradient(top, #22a0ec, #2676a7);
    background: linear-gradient(top, #22a0ec, #2676a7);
}

.main_page {
    border-bottom: 1px solid #efeded;
    margin-bottom: 1.5em;
}

.card_details {
    padding: 4px;
}

i.fa.fa-times {
    position: absolute;
    top: 7px;
    right: 7px;
    color: #060606;
    outline: none;
}

md-card {
    margin: 0;
}

md-card.col-md-3.card_details.ng-scope {
    width: 22%;
    margin: .9em 1em;
    margin-left: 15px;
}

md-card md-card-title {
    padding: 10px 14px 4px;
}
span.nmm{
    padding:0 10px;
    outline: none;
}
span.nmm:hover, span.nmm:focus{
       color: #27a2de;
    font-weight: 700;
}
a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: black;
}
a.md-default-theme:not(.md-button):hover, a:not(.md-button):hover {
    color: rgb(24, 130, 194);
    text-decoration: none;
}