<!DOCTYPE html>
<html ng-app="github">

<head>
    <title>Github User API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/new_css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="githubController">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 main_page">
            <md-input-container md-no-float class="md-block">
                <input ng-model="id" type="text" placeholder="github login">
                <md-button class="md-raised md-primary" ng-click="getUser()">Add</md-button>
            </md-input-container>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" >
        <p>Sort by: <span class="nmm" ng-click="sortName()">Name</span> <span class="nmm" ng-click="sortLocation()"> Location</span> <span class="nmm" ng-click="sortFollowers()"> Followers</span></p>
            <md-card class="col-md-3 col-sm-3 col-xs-12 card_details" ng-repeat="i in userList | orderBy:sortVal">
                <img ng-src="{{i.avatar_url}}" class="md-card-image" alt="Profile Image">
                <i class="fa fa-times" aria-hidden="true" ng-click="remove($index)"></i>
                <md-card-title>
                    <md-card-title-text>
                       <a href={{i.html_url}} target="_blank"><span class="md-headline">{{i.name}}</span></a>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Loaction: {{i.location}}</p>
                    <a href={{i.followers_url}}><p>Followers: {{i.followers}}</p></a>
                </md-card-content>
            </md-card>
        </div>
    </div>
    </div>
    
</body>
<script src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ngStorage.min.js"></script>
<!-- Angular ng-resource -->
<script src="js/angular-resource.min.js"></script>
<!-- Angular animation -->
<script src="js/angular-animate.min.js"></script>
<script src="js/angular-aria.min.js"></script>
<!-- Angular Material Library -->
<script src="js/angular-material.min.js"></script>
<script src="js/jquery.min.js"></script>
<!-- Bootstrap.js -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- This one is for router -->
<script src="js/angular-route.min.js"></script>
<!-- App.js for this app -->
<script type="text/javascript" src="app.js"></script>

</html>
